mixin MonthView()
    #month.tab-pane.active.show(role='tabpanel', aria-labelledby='tab-month')
        .monthly-calendar
            .week-day
                .day-name 일
                .day-name 월
                .day-name 화
                .day-name 수
                .day-name 목
                .day-name 금
                .day-name 토
mixin DayView()
    #day.tab-pane(role='tabpanel', aria-labelledby='tab-day')
        .daily-calendar
            span.day-name