include schedule

mixin MonthView()
    #month.tab-pane.active.show(role='tabpanel', aria-labelledby='tab-month')
        .monthly-calendar
            .week-day
                .day-name 일
                .day-name 월
                .day-name 화
                .day-name 수
                .day-name 목
                .day-name 금
                .day-name 토
            .week
                .day
                    h3.day-label 1
                    .event-consecutive.event-start.event-end(data-span='5', data-toggle='popover', data-html='true', data-content='')
                        | 연속 일정 1
                .day
                    h3.day-label 2
                    .event.event-start.event-end(data-span='1', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>\
                    </div><div class="content-line"><i class="material-icons">\
                    notes\
                    </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                        | 일반 일정 1
                .day
                    h3.day-label 3
                    .event-repeated.event-start.event-end(data-span='3', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-repeated-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span><span class="repeat-message">⋅매월 반복</span></div>\
                    </div><div class="content-line"><i class="material-icons">\
                    notes\
                    </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                        | 반복 일정 1
                    .event.event-start.event-end(data-span='1', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>\
                    </div><div class="content-line"><i class="material-icons">\
                    notes\
                    </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                        | 일반 일정 2
                .day
                    h3.day-label 4
                .day
                    h3.day-label 5
                .day
                    h3.day-label 6
                .day
                    h3.day-label 7
            .week
                .day
                    h3.day-label 8
                .day
                    h3.day-label 9
                .day
                    h3.day-label 10
                .day
                    h3.day-label 11
                .day
                    h3.day-label 12
                .day
                    h3.day-label 13
                .day
                    h3.day-label 14
            .week
                .day
                    h3.day-label 15
                    .event-consecutive.event-start.event-end(data-span='6', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>\
                    </div><div class="content-line"><i class="material-icons">\
                    notes\
                    </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                        | 연속 일정 3
                    .event-consecutive.event-start.event-end(data-span='2', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>\
                    </div><div class="content-line"><i class="material-icons">\
                    notes\
                    </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                        | 연속 일정 4
                .day
                    h3.day-label 16
                .day
                    h3.day-label 17
                .day
                    h3.day-label 18
                .day
                    h3.day-label 19
                .day
                    h3.day-label 20
                .day
                    h3.day-label 21
            .week
                .day
                    h3.day-label 22
                .day
                    h3.day-label 23
                .day
                    h3.day-label 24
                    .event.event-start.event-end(data-span='1', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>\
                    </div><div class="content-line"><i class="material-icons">\
                    notes\
                    </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                        | 일반 일정 3
                .day
                    h3.day-label 25
                .day
                    h3.day-label 26
                    .event.event-start.event-end(data-span='1', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>\
                    </div><div class="content-line"><i class="material-icons">\
                    notes\
                    </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                        | 일반 일정 4
                .day
                    h3.day-label 27
                .day
                    h3.day-label 28
            .week
                .day
                    h3.day-label 29
                .day
                    h3.day-label 30
                .day
                    h3.day-label 1
                .day
                    h3.day-label 2
                    .event-repeated.event-start.event-end(data-span='3', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-repeated-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span><span class="repeat-message">⋅매월 반복</span></div>\
                    </div><div class="content-line"><i class="material-icons">\
                    notes\
                    </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                        | 반복 일정 2
                .day
                    h3.day-label 3
                .day
                    h3.day-label 4
                .day
                    h3.day-label 5

mixin DayView()
    #day.tab-pane(role='tabpanel', aria-labelledby='tab-day')
        .daily-calendar
            span.day-name 3일 화요일
            .event-consecutive.event-start.event-end(data-toggle='popover', data-html='true', data-placement='left', data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>\
            </div><div class="content-line"><i class="material-icons">\
            notes\
            </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 연속 일정 1
            .event-consecutive.event-start.event-end(data-toggle='popover', data-html='true', data-placement='left', data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>\
            </div><div class="content-line"><i class="material-icons">\
            notes\
            </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 연속 일정 2
            .event.event-start.event-end(data-toggle='popover', data-html='true', data-placement='left', data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>\
            </div><div class="content-line"><i class="material-icons">\
            notes\
            </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 일반 일정 3
            .event-repeated.event-start.event-end(data-toggle='popover', data-html='true', data-placement='left', data-content='<div class="content-line"><div class="event-repeated-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span><span class="repeat-message">⋅매월 반복</span></div>\
            </div><div class="content-line"><i class="material-icons">\
            notes\
            </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 반복 일정 1