extends layout
include ScheduleForm
include CalendarView

block content
  .calendar-container
    .calendar-header
      .form-row
        #datepicker-today.input-group.date(data-target-input='nearest')
          input.form-control.datetimepicker-input(type='hidden', value='#datepicker-today')
          .input-group-append(data-target='#datepicker-today', data-toggle='datetimepicker')
            .input-group-text
              i.material-icons
                | calendar_today
      .ico-arrow
        a(href='#', data-toggle='tooltip', data-placement='top', title='이전')
          i.material-icons
            | chevron_left
        a(href='#', data-toggle='tooltip', data-placement='top', title='다음')
          i.material-icons
            | chevron_right
      h4
      ul#view.nav.nav-tabs.view-tab(role='tablist')
        li.nav-item
          a#tab-month.nav-link.active(data-toggle='tab', href='#month', role='tab', aria-controls='month', aria-selected='true') 월
        li.nav-item
          a#tab-day.nav-link(data-toggle='tab', href='#day', role='tab', aria-controls='day', aria-selected='false') 일
    .tab-content
      +MonthView()
      +DayView()
  +ScheduleForm()