extends layout

block content
  .calendar-container
    .calendar-header
      button.btn.btn-light Today
      .ico-arrow
        a(href='#', data-toggle='tooltip', data-placement='top', title='이전')
          i.material-icons
            | chevron_left
        a(href='#', data-toggle='tooltip', data-placement='top', title='다음')
          i.material-icons
            | chevron_right
      h4 2019년 9월
      ul#view.nav.nav-tabs.view-tab(role='tablist')
        li.nav-item
          a#tab-month.nav-link.active(data-toggle='tab', href='#month', role='tab', aria-controls='month', aria-selected='true') 월
        li.nav-item
          a#tab-day.nav-link(data-toggle='tab', href='#day', role='tab', aria-controls='day', aria-selected='false') 일
    .tab-content
      #month.tab-pane.active.show(role='tabpanel', aria-labelledby='tab-month')
        .monthly-calendar
          .week-day
            .day-name 일
            .day-name 월
            .day-name 화
            .day-name 수
            .day-name 목
            .day-name 금
            .day-name 토
          .week
            .day
              h3.day-label 1
              .event-consecutive.event-start.event-end(data-span='5', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>\
              </div><div class="content-line"><i class="material-icons">\
              notes\
              </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 연속 일정 1
              .event-consecutive.event-start.event-end(data-span='5', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>\
              </div><div class="content-line"><i class="material-icons">\
              notes\
              </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 연속 일정 2
            .day
              h3.day-label 2
              .event.event-start.event-end(data-span='1', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>\
              </div><div class="content-line"><i class="material-icons">\
              notes\
              </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 일반 일정 1
            .day
              h3.day-label 3
              .event-repeated.event-start.event-end(data-span='3', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-repeated-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span><span class="repeat-message">⋅매월 반복</span></div>\
              </div><div class="content-line"><i class="material-icons">\
              notes\
              </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 반복 일정 1
              .event.event-start.event-end(data-span='1', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>\
              </div><div class="content-line"><i class="material-icons">\
              notes\
              </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 일반 일정 2
            .day
              h3.day-label 4
            .day
              h3.day-label 5
            .day
              h3.day-label 6
            .day
              h3.day-label 7
          .week
            .day
              h3.day-label 8
            .day
              h3.day-label 9
            .day
              h3.day-label 10
            .day
              h3.day-label 11
            .day
              h3.day-label 12
            .day
              h3.day-label 13
            .day
              h3.day-label 14
          .week
            .day
              h3.day-label 15
              .event-consecutive.event-start.event-end(data-span='6', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>\
              </div><div class="content-line"><i class="material-icons">\
              notes\
              </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 연속 일정 3
              .event-consecutive.event-start.event-end(data-span='2', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>\
              </div><div class="content-line"><i class="material-icons">\
              notes\
              </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 연속 일정 4
            .day
              h3.day-label 16
            .day
              h3.day-label 17
            .day
              h3.day-label 18
            .day
              h3.day-label 19
            .day
              h3.day-label 20
            .day
              h3.day-label 21
          .week
            .day
              h3.day-label 22
            .day
              h3.day-label 23
            .day
              h3.day-label 24
              .event.event-start.event-end(data-span='1', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>\
              </div><div class="content-line"><i class="material-icons">\
              notes\
              </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 일반 일정 3
            .day
              h3.day-label 25
            .day
              h3.day-label 26
              .event.event-start.event-end(data-span='1', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>\
              </div><div class="content-line"><i class="material-icons">\
              notes\
              </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 일반 일정 4
            .day
              h3.day-label 27
            .day
              h3.day-label 28
          .week
            .day
              h3.day-label 29
            .day
              h3.day-label 30
            .day
              h3.day-label 1
            .day
              h3.day-label 2
              .event-repeated.event-start.event-end(data-span='3', data-toggle='popover', data-html='true', data-content='<div class="content-line"><div class="event-repeated-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span><span class="repeat-message">⋅매월 반복</span></div>\
              </div><div class="content-line"><i class="material-icons">\
              notes\
              </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
                | 반복 일정 2
            .day
              h3.day-label 3
            .day
              h3.day-label 4
            .day
              h3.day-label 5
      #day.tab-pane(role='tabpanel', aria-labelledby='tab-day')
        .daily-calendar
          span.day-name 3일 화요일
          .event-consecutive.event-start.event-end(data-toggle='popover', data-html='true', data-placement='left', data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>\
          </div><div class="content-line"><i class="material-icons">\
          notes\
          </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
            | 연속 일정 1
          .event-consecutive.event-start.event-end(data-toggle='popover', data-html='true', data-placement='left', data-content='<div class="content-line"><div class="event-consecutive-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일</div>\
          </div><div class="content-line"><i class="material-icons">\
          notes\
          </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
            | 연속 일정 2
          .event.event-start.event-end(data-toggle='popover', data-html='true', data-placement='left', data-content='<div class="content-line"><div class="event-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span></div>\
          </div><div class="content-line"><i class="material-icons">\
          notes\
          </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
            | 일반 일정 3
          .event-repeated.event-start.event-end(data-toggle='popover', data-html='true', data-placement='left', data-content='<div class="content-line"><div class="event-repeated-marking"></div><div class="title"><h5>일정 1</h5><h7 class="reservation">2019년 9월 15일 – 17일<span class="reservation-time">⋅오후 2:00~ 3:00</span><span class="repeat-message">⋅매월 반복</span></div>\
          </div><div class="content-line"><i class="material-icons">\
          notes\
          </i><div class="title"><h7 class="reservation">스케쥴 메모, 설명이 나타납니다.</div>')
            | 반복 일정 1
  #registerSchedule.modal.fade(tabindex='-1', role='dialog', aria-labelledby='registerScheduleLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#registerScheduleLabel.modal-title 일정 만들기
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form
            .form-group
              label.col-form-label 일정 제목
              input#recipient-name.form-control(type='text')
            .form-group
              label.col-form-label(for='message-text') 일정 설명
              textarea#message-text.form-control
            .form-row
              .col-md-6
                .form-group
                  label.col-form-label 일정 시작 날짜
                  #datetimepicker1.input-group.date(data-target-input='nearest')
                    input.form-control.datetimepicker-input(type='text', data-target='#datetimepicker1')
                    .input-group-append(data-target='#datetimepicker1', data-toggle='datetimepicker')
                      .input-group-text
                        i.material-icons
                          | calendar_today
              .col-md-6
                .form-group
                  label.col-form-label 일정 시작 시간
                  #datetimepicker2.input-group.date(data-target-input='nearest')
                    input.form-control.datetimepicker-input(type='text', data-target='#datetimepicker2')
                    .input-group-append(data-target='#datetimepicker2', data-toggle='datetimepicker')
                      .input-group-text
                        i.material-icons
                          | access_time
            .form-row
              .col-md-6
                .form-group
                  label.col-form-label 일정 종료 날짜
                  #datetimepicker3.input-group.date(data-target-input='nearest')
                    input.form-control.datetimepicker-input(type='text', data-target='#datetimepicker3')
                    .input-group-append(data-target='#datetimepicker3', data-toggle='datetimepicker')
                      .input-group-text
                        i.material-icons
                          | calendar_today
              .col-md-6
                .form-group
                  label.col-form-label 일정 종료 시간
                  #datetimepicker4.input-group.date(data-target-input='nearest')
                    input.form-control.datetimepicker-input(type='text', data-target='#datetimepicker4')
                    .input-group-append(data-target='#datetimepicker4', data-toggle='datetimepicker')
                      .input-group-text
                        i.material-icons
                          | access_time
              .form-check.form-check-inline
                input#inlineCheckbox1.form-check-input(type='checkbox', value='option1')
                label.form-check-label(for='inlineCheckbox1') 매월 반복
              .form-check.form-check-inline
                input#inlineCheckbox2.form-check-input(type='checkbox', value='option2')
                label.form-check-label(for='inlineCheckbox2') 하루 종일
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') 취소
          button.btn.btn-primary(type='button') 일정 만들기