extends layout
include ScheduleForm
include CalendarView

block content
  .calendar-container
    .calendar-header
      button.btn.btn-light Today
      .ico-arrow
        a(href='#', data-toggle='tooltip', data-placement='top', title='이전')
          i.material-icons
            | chevron_left
        a(href='#', data-toggle='tooltip', data-placement='top', title='다음')
          i.material-icons
            | chevron_right
      h4 2019년 9월
      ul#view.nav.nav-tabs.view-tab(role='tablist')
        li.nav-item
          a#tab-month.nav-link.active(data-toggle='tab', href='#month', role='tab', aria-controls='month', aria-selected='true') 월
        li.nav-item
          a#tab-day.nav-link(data-toggle='tab', href='#day', role='tab', aria-controls='day', aria-selected='false') 일
    .tab-content
      +MonthView()
      +DayView()
  +ScheduleForm()