mixin ScheduleView(title, date, description)
    .content-line
        .event-consecutive-marking
        .title
            h5 title
            h7.reservation date
    .content-line
        i.material-icons notes
        .title
            h7.reservation description